In [27]:
from nba_api.stats.static import teams
import pandas as pd
import numpy as np
import sqlite3
import re
import math
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
conn = sqlite3.connect("nba.db")
cursor = conn.cursor()

In [28]:
from nba_api.stats.endpoints import leaguegamefinder
szn_20_21 = leaguegamefinder.LeagueGameFinder(date_from_nullable="2020-12-22",
                                                date_to_nullable="2021-7-22", 
                                                season_type_nullable="Regular Season",
                                                league_id_nullable='00')
szn_21_22 = leaguegamefinder.LeagueGameFinder(date_from_nullable="2021-10-19",
                                              date_to_nullable="2022-7-19",
                                              season_type_nullable="Regular Season",
                                              league_id_nullable="00")
szn_22_23 = leaguegamefinder.LeagueGameFinder(date_from_nullable="2022-10-18",
                                              date_to_nullable="2023-7-12",
                                              season_type_nullable="Regular Season",
                                              league_id_nullable="00")
szn_23_24 = leaguegamefinder.LeagueGameFinder(date_from_nullable="2023-10-24",
                                              date_to_nullable="2024-4-14",
                                              season_type_nullable="Regular Season",
                                              league_id_nullable="00")
szn_24_25 = leaguegamefinder.LeagueGameFinder(date_from_nullable="2024-10-22",
                                                date_to_nullable="2025-4-13", 
                                                season_type_nullable="Regular Season",
                                                league_id_nullable='00')
szn_20_21 = szn_20_21.get_data_frames()[0]
szn_20_21 = pd.DataFrame(szn_20_21)
gameid = szn_20_21['GAME_ID'].unique()
szn_21_22 = szn_21_22.get_data_frames()[0]
szn_21_22 = pd.DataFrame(szn_21_22)
szn_22_23 = szn_22_23.get_data_frames()[0]
szn_22_23 = pd.DataFrame(szn_22_23)
szn_23_24 = szn_23_24.get_data_frames()[0]
szn_23_24 = pd.DataFrame(szn_23_24)
szn_24_25 = szn_24_25.get_data_frames()[0]
szn_24_25 = pd.DataFrame(szn_24_25)
ids = list(szn_20_21['TEAM_ID'].unique())

In [29]:
lst=[szn_20_21, szn_21_22, szn_22_23, szn_23_24, szn_24_25]
for x in lst:
    x["TotalFGMade"] = x.groupby('GAME_ID')['FGM'].transform('sum')
    x["TotalFGAtt"] = x.groupby('GAME_ID')['FGA'].transform('sum')
    x['Total3PM'] = x.groupby('GAME_ID')['FG3M'].transform('sum')
    x["TotalTOV"] = x.groupby('GAME_ID')['TOV'].transform('sum')
    x["TotalFTA"] = x.groupby('GAME_ID')['FTA'].transform('sum')
    x['TotalOREB'] = x.groupby('GAME_ID')['OREB'].transform('sum')
    x['TotalGamePoints'] = x.groupby('GAME_ID')['PTS'].transform('sum')
    x['OppOREB'] = x['TotalOREB'] - x['OREB']
    x['TDREB'] = x.groupby('GAME_ID')['DREB'].transform('sum')
    x['TotalGameFTM'] = x.groupby('GAME_ID')['FTM'].transform('sum')
    x['TotalDREB'] = x.groupby('GAME_ID')['DREB'].transform('sum')
    x['TotalAST'] = x.groupby('GAME_ID')['AST'].transform('sum')
    x['TotalSTL'] = x.groupby('GAME_ID')['STL'].transform('sum')
    x['TotalBLK'] = x.groupby('GAME_ID')['BLK'].transform('sum')
    x['TotalPF'] = x.groupby('GAME_ID')['PF'].transform('sum')
    x['TotalTOV'] = x.groupby('GAME_ID')['TOV'].transform('sum')

In [30]:
def EFG(x):
    num = float(x['FGM']) + 0.5 * float(x['FG3M'])
    denom = float(x['FGA'])
    return round(num/denom, 3)
def TOVP(x):
    denom = float(x['FGA']) + 0.44 * x['FTA'] + float(x['TOV'])
    return round(float(x['TOV']) / denom, 4)
def OREBP(x):
    x['OPPDREB'] = x['TDREB'] - x['DREB']
    return float(x['OREB']) / (float(x['OREB'] + x['OPPDREB']))
def FTRATE(x):
    return float(x['FTA']) / float(x['FGA'])

In [31]:
def OppEFG(x):
    num = float(x["TotalFGMade"] - x["FGM"]) + 0.5 * float(x["Total3PM"] - x["FG3M"])
    denom = float(x['TotalFGAtt'] - x["FGA"])
    return round(num/denom, 3)
def OppTOVP(x):
    num = float(x['TotalTOV'] - x['TOV'])
    denom = float(x["TotalFGAtt"] - x["FGA"]) + 0.44 * float(x["TotalFTA"] - x["FTA"]) + num
    return round(num/denom, 3)
def DREBP(x):
    return float(x['DREB']) / float(x['DREB'] + x['OppOREB'])
def OppFTRATE(x):
    return float(x['TotalFTA'] - x['FTA']) / float(x['TotalFGAtt'] - x['FGA'])
def away(x):
    return x["MATCHUP"][:4]
def home(x):
    return x["MATCHUP"][-4:]
def teamPIE(x):
    teampie = (x['PTS'] + x['FGM'] + x['FTM'] - x['FGA'] - x['FTA'] + x['DREB'] + (0.5 * x['OREB']) + x['AST'] + x['STL'] + (x['BLK']*0.5) - x['PF'] - x['TOV']) 
    gamepie = (x['TotalGamePoints'] + x['TotalFGMade'] + x['TotalGameFTM'] - x['TotalFGAtt'] - x['TotalFTA'] + x['TotalDREB'] + (0.5 * x['TotalOREB']) + x['TotalAST'] + x['TotalSTL'] + (0.5 * x['TotalBLK']) - x['TotalPF'] - x['TotalTOV'])
    return round(float(teampie) / float(gamepie), 4)
def diff(x):
    return abs(x['home_PTS'] - x['away_PTS'])
def away_POSS(x):
    return (x['away_FGA'] + 0.44 * x['away_FTA'] - x['away_OREB'] + x['away_TOV'])
def home_POSS(x):
    return (x['home_FGA'] + 0.44 * x['home_FTA'] - x['home_OREB'] + x['home_TOV'])
def home_PACE(x):
    return (x['home_POSS'] / (x['home_MIN'] / 5)) * 48
def away_PACE(x):
    return (x['away_POSS'] / (x['away_MIN'] / 5)) * 48

In [32]:
for x in lst:
    x['EFG'] = x.apply(EFG, axis=1)
    x['TOVP'] = x.apply(TOVP, axis=1)
    x['OREBP'] = x.apply(OREBP, axis=1)
    x['FTRATE'] = x.apply(FTRATE, axis=1)
    x['OppEFG'] = x.apply(OppEFG, axis=1)
    x['OppTOVP'] = x.apply(OppTOVP, axis=1)
    x['DREBP'] = x.apply(DREBP, axis=1)
    x['OppFTRATE'] = x.apply(OppFTRATE, axis=1)
    x["AWAY"] = x.apply(away, axis=1)
    x["HOME"] = x.apply(home, axis=1)
    x['TEAMPIE'] = x.apply(teamPIE, axis=1)

In [33]:
szn_20_21.drop(columns=['TDREB', 'OppOREB', 'TotalOREB', 'TotalFTA', 'TotalTOV','Total3PM', 'TotalFGAtt', 'TotalFGMade'],inplace=True)
szn_21_22.drop(columns=['TDREB', 'OppOREB', 'TotalOREB', 'TotalFTA', 'TotalTOV','Total3PM', 'TotalFGAtt', 'TotalFGMade'], inplace=True)
szn_22_23.drop(columns=['TDREB', 'OppOREB', 'TotalOREB', 'TotalFTA', 'TotalTOV','Total3PM', 'TotalFGAtt', 'TotalFGMade'],inplace=True)
szn_23_24.drop(columns=['TDREB', 'OppOREB', 'TotalOREB', 'TotalFTA', 'TotalTOV','Total3PM', 'TotalFGAtt', 'TotalFGMade'],inplace=True)
szn_24_25.drop(columns=['TDREB', 'OppOREB', 'TotalOREB', 'TotalFTA', 'TotalTOV','Total3PM', 'TotalFGAtt', 'TotalFGMade'],inplace=True)

In [34]:
for i, x in enumerate(lst):
    x['_original_index'] = range(len(x))
    x_sorted = x.sort_values(['TEAM_ID', 'SEASON_ID', 'GAME_DATE']).reset_index(drop=True)
    ewma_cols = ['PTS', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
                 'OREB', 'DREB', 'AST', 'STL', 'TOV', 'PF', 'PLUS_MINUS', 'EFG', 'TOVP',
                 'OREBP', 'FTRATE', 'OppEFG', 'OppTOVP', 'DREBP', 'OppFTRATE', 'TEAMPIE']
    for col in ewma_cols:
        x_sorted[f"EWMA {col}"] = (
            x_sorted.groupby(['TEAM_ID', 'SEASON_ID'])[col]
            .apply(lambda x: x.shift(1).ewm(span=7, min_periods=7).mean())
            .reset_index(level=[0, 1], drop=True)
        )
    x_sorted = x_sorted.sort_values('_original_index').reset_index(drop=True)
    x_sorted = x_sorted.drop(columns=['_original_index'])
    lst[i] = x_sorted

In [35]:
def combine_game_rows(df):
    df = df.copy()
    df['is_home'] = df['MATCHUP'].str.contains('vs.', na=False)
    stat_columns = [col for col in df.columns if col not in 
                   ['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 
                    'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'AWAY', 'HOME']]
    home_data = df[df['is_home'] == True].copy()
    away_data = df[df['is_home'] == False].copy()
    home_rename = {col: f'home_{col}' for col in stat_columns}
    home_rename.update({
        'TEAM_ID': 'home_TEAM_ID',
        'TEAM_ABBREVIATION': 'home_TEAM',
        'TEAM_NAME': 'home_TEAM_NAME',
        'WL': 'home_WL'
    })
    home_data = home_data.rename(columns=home_rename)
    away_rename = {col: f'away_{col}' for col in stat_columns}
    away_rename.update({
        'TEAM_ID': 'away_TEAM_ID',
        'TEAM_ABBREVIATION': 'away_TEAM',
        'TEAM_NAME': 'away_TEAM_NAME',
        'WL': 'away_WL'
    })
    away_data = away_data.rename(columns=away_rename)
    merge_cols = ['GAME_ID', 'GAME_DATE']
    if 'SEASON_ID' in df.columns:
        merge_cols.append('SEASON_ID')
    combined = pd.merge(
        home_data[merge_cols + [col for col in home_data.columns if col not in merge_cols]],
        away_data[merge_cols + [col for col in away_data.columns if col not in merge_cols]],
        on=merge_cols,
        how='inner'
    )
    combined['home_win'] = (combined['home_WL'] == 'W').astype(int)
    return combined

In [36]:
team_id_dict = dict.fromkeys(ids,1500) 
def ELO(x):
    prob_home = 1 / (1 + 10**((team_id_dict[x['away_TEAM_ID']] - team_id_dict[x['home_TEAM_ID']] - 100)/400))
    prob_away = 1 - prob_home
    if (x['home_win'] == 1):
        pre_elo_home = team_id_dict[x['home_TEAM_ID']]
        team_id_dict[x['home_TEAM_ID']] = pre_elo_home + 20 * (1 - prob_home)
        pre_elo_away = team_id_dict[x['away_TEAM_ID']]
        team_id_dict[x['away_TEAM_ID']] = pre_elo_away + 20 * (0 - prob_away)
    else:
        pre_elo_home = team_id_dict[x['home_TEAM_ID']]
        team_id_dict[x['home_TEAM_ID']] = pre_elo_home + 20 * (0 - prob_home)
        pre_elo_away = team_id_dict[x['away_TEAM_ID']]
        team_id_dict[x['away_TEAM_ID']] = pre_elo_away + 20 * (1 - prob_away)
    return pre_elo_home, pre_elo_away

In [37]:
combined_seasons = []
for df in lst:
    combined_df = combine_game_rows(df)
    combined_df['DIFF'] = combined_df.apply(diff, axis=1)
    combined_df.drop(columns=['AWAY_y','HOME_y', 'away_is_home','home_is_home','AWAY_x', 'HOME_x',], inplace=True)
    combined_df = combined_df.sort_values(by='GAME_DATE', ascending=True)
    combined_df[['home_ELO', 'away_ELO']] = combined_df.apply(ELO, axis=1, result_type='expand')
    combined_df['away_POSS'] = combined_df.apply(away_POSS,axis=1)
    combined_df['home_POSS'] = combined_df.apply(home_POSS,axis=1)
    combined_df['away_PACE'] = combined_df.apply(away_PACE, axis=1)
    combined_df['home_PACE'] = combined_df.apply(home_PACE, axis=1)
    combined_seasons.append(combined_df)
    team_id_dict.update((x, 1500 + ((y-1500) * (1 - (1/3)))) for x, y in team_id_dict.items())
szn_20_21_combined = combined_seasons[0]
szn_21_22_combined = combined_seasons[1]
szn_22_23_combined = combined_seasons[2]
szn_23_24_combined = combined_seasons[3]
szn_24_25_combined = combined_seasons[4]

In [38]:
szn_24_25_combined

,GAME_ID,GAME_DATE,SEASON_ID,home_TEAM_ID,home_TEAM,...,away_ELO,away_POSS,home_POSS,away_PACE,home_PACE
1224,0022400061,2024-10-22,22024,1610612738,BOS,...,1563.204156,91.04,90.52,90.662241,90.520000
1223,0022400062,2024-10-22,22024,1610612747,LAL,...,1577.384712,99.88,98.00,100.297908,98.000000
1221,0022400071,2024-10-23,22024,1610612746,LAC,...,1574.783893,110.96,113.20,100.872727,102.135338
1222,0022400067,2024-10-23,22024,1610612761,TOR,...,1522.862955,102.44,102.76,101.175309,102.760000
1214,0022400068,2024-10-23,22024,1610612745,HOU,...,1390.682430,96.56,103.80,96.159336,104.234310
...,...,...,...,...,...,...,...,...,...,...,...
12,0022401190,2025-04-13,22024,1610612748,MIA,...,1264.893002,101.48,102.28,101.480000,101.855602
13,0022401195,2025-04-13,22024,1610612750,MIN,...,1272.943169,97.84,101.04,97.434025,101.040000
14,0022401199,2025-04-13,22024,1610612757,POR,...,1607.526265,93.16,92.24,93.549791,92.240000
7,0022401191,2025-04-13,22024,1610612755,PHI,...,1504.723312,108.80,107.24,108.800000,107.240000
0,0022401189,2025-04-13,22024,1610612739,CLE,...,1595.042709,127.68,127.68,106.031834,104.942466

In [39]:
szn_20_21_combined.to_sql("2020-2021 Team Data Combined", conn, if_exists="replace", index=False)
szn_21_22_combined.to_sql("2021-2022 Team Data Combined", conn, if_exists="replace", index=False)
szn_22_23_combined.to_sql("2022-2023 Team Data Combined", conn, if_exists="replace", index=False)
szn_23_24_combined.to_sql("2023-2024 Team Data Combined", conn, if_exists="replace", index=False)
szn_24_25_combined.to_sql("2024-2025 Team Data Combined", conn, if_exists="replace", index=False)

1225