In [1]:
import pandas as pd
import sqlite3
from datetime import datetime
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',100)
conn = sqlite3.connect("nba.db")
cursor = conn.cursor()

In [14]:
z = pd.read_sql_query("SELECT * FROM [2024-2025 Team Data Combined]", conn)
z[["moneyline_away_x", "moneyline_home_x"]].iloc[-1000::]

     moneyline_away_x moneyline_home_x
225              None             None
226              None             None
227              None             None
228              None             None
229              None             None
...               ...              ...
1220             None             None
1221             None             None
1222             None             None
1223             None             None
1224             None             None

[1000 rows x 2 columns]